@import url('./fonts.css');
@import url('./color.css');

.inter_light {
  font-family: 'inter_light';
}

.inter_regular {
  font-family: 'inter_regular';
}

.inter_semibold {
  font-family: 'inter_semibold';
}

.inter_medium {
  font-family: 'inter_medium';
}

.inter_bold {
  font-family: 'inter_bold';
}

.color1 {
  color: #303030;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 13px;
  margin: 0;
}

* {
  /* color: #303030; */
  font-family: 'inter_regular';
}

.f13 {
  font-size: 13px;
}

.css-y6nfyh>.ps-menu-button,
.css-1654oxy>.ps-menu-button,
.css-1t8x7v1>.ps-menu-button {
  height: auto !important;
}

.css-1t8x7v1>.ps-menu-button {
  height: auto !important;
}

.css-14xmt93>.ps-menu-button,
.css-1tqrhto>.ps-menu-button {
  height: auto !important;
  padding-left: 2rem !important;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: #616161;
}

.ps-menu-label {
  font-size: 13px !important;
}

.css-16jesut>.ps-menu-button {
  padding: 0 0.5rem !important;
}

/* .css-14xmt93 >.ps-menu-button, */
.ps-submenu-expand-icon {
  display: none !important;
}

.Polaris-Icon_yj27d svg {
  fill: #4a4a4a !important;
}

.ps-active .Polaris-Icon_yj27d svg {
  fill: #1a1a1a !important;
}

.menuText {
  font-family: 'inter_medium';
  color: #5e5e5e;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.menuTextIcon svg {
  font-family: 'inter_regular';
  fill: #8a8a8a;
  font-size: 1.1rem;
}

.filter {
  filter: brightness(0) saturate(100%) invert(36%) sepia(13%) saturate(137%) hue-rotate(169deg) brightness(95%) contrast(87%);
}

.css-wx7wi4 {
  margin-right: 0.5rem !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: auto !important;
  height: auto !important;
  min-width: 0 !important;
}

.css-y6nfyh>.ps-menu-button {
  padding: 0 0.5rem !important;
}

.css-16jesut>.ps-menu-button {
  height: auto !important;
}

.css-1654oxy>.ps-menu-button,
.css-1t8x7v1>.ps-menu-button {
  padding: 0 0.5rem 0 0.5rem !important;
}

.padd_inline {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.padd_left {
  padding-left: 0.5rem !important;
}

/* .ps-menu-button:hover {
  display: flex !important;
  align-items: center !important;
  justify-items: center !important;
  width: 100% !important;
  background-color: white !important;
  border-radius: 10px !important;
} */

.color_primary {
  color: var(--primary);
}

.css-y6nfyh>.ps-menu-button.ps-active,
.css-14xmt93>.ps-menu-button.ps-active,
.css-ewdv3l>.ps-menu-button.ps-active,
.css-1654oxy>.ps-menu-button.ps-active,
.css-16jesut>.ps-menu-button.focus,
.css-16jesut>.ps-menu-button:active,
.css-16jesut>.ps-menu-button:target,
.css-16jesut>.ps-menu-button:focus-visible,
.css-1t8x7v1 .ps-menu-button.ps-active,
.css-1t8x7v1 .ps-menu-button:target,
.css-1t8x7v1 .ps-menu-button:active,
.css-1t8x7v1 .ps-menu-button:focus-visible,
.css-1t8x7v1 .ps-menu-button:active {
  background-color: #fafafa !important;
  border-radius: 10px !important;
  font-family: 'inter_semibold' !important;
}

.css-14xmt93>.ps-menu-button:hover,
.css-1tqrhto>.ps-menu-button:hover,
.css-1654oxy>.ps-menu-button:hover,
.css-16jesut>.ps-menu-button:hover,
.css-1t8x7v1 .ps-menu-button:hover {
  background-color: #f1f1f1 !important;
  border-radius: 10px !important;
  font-family: 'inter_semibold' !important;
}

.sidebar_main {
  background-color: var(--dark_grey) !important;

}

.shadow1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow2 {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.customer_height {
  height: 33rem;
}

.avatar {
  height: 9rem;
  width: 9rem;
  background-color: lightblue;
  border-radius: 50%;
}

.btn1 {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: auto;
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
}

/* home page css starts-------------------------- */
.trial {
  background-color: var(--secondary);
  padding: 0.6rem 0.9rem;
  color: white;
  border-radius: 0.5rem;
}

.css-ewdv3l {
  background-color: #ebebeb;
}

.css-12w9als {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  font-family: 'inter_medium';
  font-size: 13px;
}

.css-z5rm24 .css-12w9als {
  /* margin-top: 0.25rem; */
  /* margin-bottom: 0.25rem; */
  color: #616161;
}

.css-z5rm24 .css-12w9als:hover {
  /* margin-top: 0.25rem; */
  /* margin-bottom: 0.25rem; */
  color: #303030;
}

.planButton {
  background-color: white;
  border-radius: 7px;
  padding: .3rem .7rem;
  color: black;
}

.accordion-item {
  /* border-radius: 20px !important; */
  border: none !important;

}

.accordion-header:focus {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 80px !important;
}

.accordion-button {
  background-color: transparent !important;
  border: none !important;
  padding: 12px !important;
}

.accordion-header:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.accordion-body {
  padding: 8px 5px !important;
}

.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;

}

.accordion-item:first-of-type .accordion-button {
  background-color: #F1F1F1 !important;
  border-radius: 0px !important;
  border: 1px solid #EBEBEB !important;
}

.progress {
  width: 80% !important;
  --bs-progress-height: 0.3rem !important;
  background-color: #d4d4d4 !important;
}

.progress-bar {
  background-color: black !important;
}

.rotateIcon {

  transform: rotate(180deg) !important;
}

.increase {
  height: auto !important;
  /* padding-bottom: 2rem; */
}

a {
  text-decoration: none !important;
}

.rounded-circle {
  width: 20px;
  height: 20px;
  border: 2px dashed #797777;
  border-radius: 50%;
}

.add_product {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 10px;
}

.link-no-underline {
  text-decoration: none;
  font-size: 14px;
}

.add_btn {
  margin-top: .8rem;
  background-color: var(--light_black) !important;
  color: white;
  font-size: 12px;
  padding: .29rem 1rem;
  border-radius: 7px;
}

.import_btn {
  font-size: 13px;
  padding: .29rem 1rem;

  border-radius: 7px;
}

.import_btn:hover {
  background-color: #EAEAEA !important;


}

.hoverClass {
  padding: .7rem 1rem;
  border-radius: 10px;
}

.hoverClass:hover {
  background-color: #EAEAEA;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-select,
.form-control {
  color: var(--primary);
  border: 1px solid #8a8a8a !important;
  border-radius: 0.65rem;
  min-height: 1.9rem;
  font-size: 13px;
  background-color: #FAFAFA !important;

}

.form-select {
  background-image: url(../assests/png/down.png) !important;
  background-size: 0.8rem;
}

.form-select:focus,
.form-control:focus {
  color: var(--bs-body-color);
  background-color: #FAFAFA !important;
  border: 0 !important;
  box-shadow: none !important;
  caret-color: #303030 !important;
}

.price .form-select,
.price .form-control {
  min-height: 1.4rem;
  color: var(--primary);
  font-size: 13px;
  border: 1px solid #8a8a8a !important;
  border-radius: 0.6rem;
  background-color: transparent !important;

}

.price .form-select:focus,
.price .form-control:focus {
  color: var(--bs-body-color);
  background-color: transparent !important;
  border: 1px solid #303030 !important;
  box-shadow: none !important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-radius: 0.7rem !important;
  border: 1px solid #8a8a8a !important;
  background-color: #f7f7f7;
  border-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  border-radius: 0.7rem !important;
  border: 1px solid #8a8a8a !important;
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  min-height: 150px;
}

p {
  font-size: 14px;
  font-family: 'inter_regular';
  /* color: var(--primary); */
}


.extend {
  color: #DDDADD;
  /* font-size: --font_medium; */
}

.leftArr {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 0.0625rem !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: 0;
  white-space: nowrap !important;
  width: 0.0625rem !important;
}

.cardMain {
  flex: 2 2 30rem;
  min-width: 51%;
}

.innerCard {
  border-radius: 0.75rem;
  background-color: var(--white);
  outline: 0.0625rem solid #0000;
  padding: 1rem;
  overflow: clip;
  box-shadow: 0 0.0625rem 0 #00000012;
}

.innerCard2 {
  border-radius: 0.75rem;
  background-color: var(--white);
  outline: 0.0625rem solid #0000;
  /* padding: 1rem; */
  overflow: clip;
  box-shadow: 0 0.0625rem 0 #00000012;
}

.prodMain {
  flex: 2 2 30rem;
  min-width: 51%;
}

.prod {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
[data-lock-scrolling] [data-lock-scrolling-wrapper]{
  height: auto;
}
.status {
  flex: 1 1 15rem;
  min-width: 0;
}
.btn2_black{
  color: white;
  border: none;
  border-radius: 0.65rem;
  font-size: 13px;
  padding: 0.5rem 0.75rem;
  background-color: #242424;
}
.mainPage {
  margin: 0 auto;
  max-width: 62.375rem;
  padding: 0;
}
.ck-toolbar_grouping{
width: 99% !important;
}
 .ck-editor__main{
  width: 99% !important;
}
.AddProd {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.media {
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px dashed #8a8a8a;
  min-height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.upload {
  padding: 0.375rem 0.75rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.link_hove:hover {
  text-decoration: underline !important;

}

.form-check-input:focus {
  border-color: #8a8a8a !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #303030 !important;
  border-color: #8a8a8a !important;
}

.form-control:disabled {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}

.ques {
  border: 2px solid #8a8a8a;
  color: #8a8a8a;
  font-family: 'inter_semibold';
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  line-height: 1.1;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Polaris-Text--root_yj4ah {
  margin: 0;
  text-align: inherit
}

.Polaris-Text--visuallyHidden_yrtt6 {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: .0625rem !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: 0;
  white-space: nowrap !important;
  width: .0625rem !important
}

.Polaris-Icon_yj27d {
  display: block;
  height: 1.25rem;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  width: 1.25rem
}

.Polaris-Icon_yj27d2 {
  height: 1.25rem;
  width: 1.25rem
}

.Polaris-Icon__Img_375hq,
.Polaris-Icon__Svg_375hu {
  display: block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: 100%
}

.link2:hover {
  text-decoration: underline !important;
  color: inherit;
}

.Polaris-Icon__Svg_375hu {
  fill: #005bd3
}

.color2 {
  color: #005bd3;
}

.home {
  max-width: 49.75rem;
}

.homeFont {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'inter_semibold';
}