.nav_img {
    width: 6rem;
    opacity: 0.8;
}


.search {
    width: 40rem;
    border-radius: 0.6rem;
}

@media (max-width:1200px) {
    .search {
        width: 30rem;
    }
}

@media (max-width:1200px) {
    .search {
        width: 100%;
    }
}